$light-yellow: hsl(45, 100%, 64%);
$dark-yellow: hsl(43, 96%, 63%);
$darker-yellow: hsl(42, 81%, 38%);

$head-foot-width: calc(100vw - 1rem);
$pad-mar-calc: calc((100vw - 71rem) / 2);

@mixin test {
  outline: 2px solid lawngreen;
}
