@use "../abstracts/variables" as *;
@use "../base/typography" as t;

footer {
  background: $dark-yellow;
  width: $head-foot-width;
  transform: translateX(calc($pad-mar-calc * -1));
  padding-inline: $pad-mar-calc;

  .footer-top {
    // * {
    //   @include test;
    // }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;

    h3 {
      font-size: t.$font-sz-xl;
      margin-bottom: 1.5rem;
      font-weight: t.$font-ex-bold;
    }

    .footer-section-1 {
      padding-right: 1.75rem;

      .footer-img-wrapper {
        margin-bottom: 1.5rem;

        img {
          width: 100%;
        }
      }

      p:not(:last-child) {
        line-height: t.$l-h-md;
        margin-bottom: 1.5rem;
      }

      a {
        text-decoration: underline;
      }
    }
    .footer-section-2 {
      padding-inline: 1.5rem;
      border-image: url("/assets/images/separator-dark-vertical.png") 0 10 /
        0.5rem / 0.4rem repeat round;
    }
    .footer-section-3 {
      padding-left: 1.5rem;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid red;
    border-image: url("/assets/images/separator-dark.png") 10 0/ 0.4rem 0rem / 0.4rem
      repeat;
    padding-block: 1rem;
    margin-top: 1.5rem;

    ul {
      display: flex;
      gap: 1rem;
    }
  }
}
