@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as t;

footer {
  background: $dark-yellow;
  width: $head-foot-width;
  transform: translateX(calc($pad-mar-calc * -1));
  padding-inline: $pad-mar-calc;

  .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;

    h3 {
      margin-bottom: 1rem;
      font-weight: t.$font-ex-bold;
    }

    .footer-section-1 {
      padding-right: 1.75rem;

      .footer-img-wrapper {
        margin-bottom: 1.5rem;

        img {
          width: 100%;
        }
      }

      p:not(:last-child) {
        line-height: t.$l-h-md;
        margin-bottom: 1.5rem;
      }

      a {
        text-decoration: underline;
      }
    }
    .footer-section-2 {
      padding-inline: 2rem;
      border-image: url("/assets/images/separator-dark-vertical.png") 0 10 /
        0.5rem / 0.4rem repeat round;

      .footer-card {
        display: flex;
        gap: 0.75rem;
        margin-bottom: 2rem;

        &:nth-child(2) > div:first-of-type::after {
          @include blog-date("16");
        }
        &:nth-child(3) > div:first-of-type::after {
          @include blog-date("15");
        }
        &:nth-child(4) > div:first-of-type::after {
          @include blog-date("14");
        }

        .date {
          width: 80px;
          position: relative;

          &::before {
            @include blog-month("APR");
          }

          img {
            width: 100%;
          }
        }

        .footer-card-content {
          h4 {
            margin-bottom: 0.5rem;
          }
          p {
            font-size: 0.85rem;
            line-height: 1.6;
          }
        }
      }
    }
    .footer-section-3 {
      padding-left: 1.5rem;

      .footer-sec-3-top {
        margin-bottom: 1.75rem;

        input {
          padding: 0.5rem 0.3rem;
          width: 100%;
          border: 3px solid $darker-yellow;
          margin-bottom: 0.5rem;

          &::placeholder {
            letter-spacing: t.$l-s-1;
            font-weight: t.$font-bold;
          }
        }

        button {
          background-color: transparent;
          border: none;
          background-image: url("/assets/images/button-bg-dark.png");
          width: 90px;
          height: 28px;
          background-size: contain;
          color: white;
          font-weight: t.$font-ex-bold;
        }
      }

      .footer-sec-3-bottom {
        padding-top: 1rem;
        border-image: url("/assets/images/separator-dark.png") 10 0/ 0.4rem 0rem
          0rem/ 0.4rem repeat;

        .footer-social-wrapper {
          display: flex;
          gap: 1.5rem;

          > * {
            width: 45px;
          }
        }
      }
    }
  }

  .footer-bottom {
    font-weight: t.$font-ex-bold;
    color: $darker-yellow;
    display: flex;
    justify-content: space-between;
    // border-top: 3px solid red;
    border-image: url("/assets/images/separator-dark.png") 10 0/ 0.4rem 0rem / 0.4rem
      repeat;
    padding-block: 0.25rem 1.5rem;
    margin-top: 1.5rem;

    span {
      margin-right: 0.25rem;
    }

    ul {
      display: flex;
      gap: 1rem;
    }
  }
}
