@use "../abstracts/variables" as *;

footer {
  background: $dark-yellow;
  width: $head-foot-width;
  transform: translateX(calc($pad-mar-calc * -1));
  padding-inline: $pad-mar-calc;

  .footer-top {
    * {
      @include test;
    }

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;

    .footer-section-1 {
      border-right: 3px solid red;
    }
    .footer-section-2 {
      border-right: 3px solid red;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid red;
    padding-block: 1rem;
    margin-top: 1rem;

    ul {
      display: flex;
      gap: 1rem;
    }
  }
}
