@use "../abstracts/variables" as *;

header {
  background: black;
  display: flex;
  position: absolute;
  width: $head-foot-width;
  left: 0;
  top: 0;
  padding-block: 2rem;
  padding-inline: $pad-mar-calc;
  align-items: center;
  justify-content: space-between;

  nav {
    color: white;

    ul {
      display: flex;
      font-size: 1.125rem;
      gap: 2rem;
    }
  }
}
