@use "../base/typography" as t;
body {
  background-image: url("/assets/images/bg-body.png");
  background-size: 100%;
  font-family: t.$font;
  color: t.$font-color;

  main {
    padding-top: 7.75rem;
    max-width: 70rem;
    margin-inline: auto;
  }
}
