@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald.woff") format("woff");
}
@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url("/assets/fonts/QuattrocentoSans-Regular.woff") format("woff");
}

// $font: "Inconsolata", sans-serif;
$font: "Oswald", sans-serif;
$font-secondary: "QuattrocentoSans-Regular", sans-serif;

$font-color: hsl(245, 24%, 9%);
$font-color-grey: hsl(0, 0%, 48%);

$font-reg: 400;
$font-bold: 600;
$font-ex-bold: 800;

$font-sz-xs: 0.85rem;
$font-sz-lg: 1.25rem;
$font-sz-xl: 1.5rem;
$font-sz-xxl: 2.25rem;
$font-sz-xxxl: 2.5rem;

$l-s-1: 1px;
$l-s-2: 2px;
$l-s-3: 3px;

$l-h-md: 1.3;
$l-h-lg: 1.6;

p {
  font-family: $font-secondary;
}
