@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as t;

.blog-sec {
  padding: 1.5rem 2.5rem;
  background-color: white;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 2rem;

  .date {
    position: relative;

    &::before {
      @include blog-month("APR");
    }
    &::after {
      @include blog-date("16");
    }
  }

  .blog-post {
    .blog-post-header {
      display: flex;
      margin-bottom: 1rem;
      gap: 0.35rem;

      img {
        width: 55px;
        margin-right: 0.5rem;
      }
      h1 {
        margin-bottom: 0.25rem;
        line-height: t.$l-h-sm;
      }
    }

    img:not(.blog-post-footer img) {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .blog-post-body {
      line-height: t.$l-h-lg;
      margin-bottom: 1.5rem;
    }

    .blog-post-footer {
      border-bottom: 3px solid red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: t.$font;
      font-weight: t.$font-ex-bold;
      padding-bottom: 1.5rem;
      // * {
      //   @include test;
      // }

      p {
        font-family: t.$font;
      }

      .comments {
        display: flex;

        img {
          width: 20px;
          height: 18px;
          margin-right: 0.25rem;
          margin-top: 0.2rem;
        }
      }
    }

    position: relative;

    .pagination-wrapper {
      @include pagination();
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  aside {
    border-left: 3px solid red;
    padding-inline: 2rem;

    h4 {
      margin-bottom: 2rem;
    }

    .featured-blogs {
      // &:nth-child(2) > div:first-of-type::after {
      //   @include blog-date("16");
      // }
      // &:nth-child(3) > div:first-of-type::after {
      //   @include blog-date("15");
      // }
      // &:nth-child(4) > div:first-of-type::after {
      //   @include blog-date("14");
      // }

      .blog-card:nth-of-type(1) .date:nth-child(1)::after {
        @include blog-date("16");
        bottom: 1.4rem;
      }
      .blog-card:nth-of-type(2) .date:nth-child(1)::after {
        @include blog-date("15");
        bottom: 1.4rem;
      }
      .blog-card:nth-of-type(3) .date:nth-child(1)::after {
        @include blog-date("14");
        bottom: 1.4rem;
      }

      .blog-card {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;

        img {
          width: 55px;
        }

        .blog-card-content {
          width: 25ch;

          h5 {
            margin-bottom: 0.5rem;
          }

          p {
            font-size: t.$font-sz-xs;
            line-height: t.$l-h-lg;
          }
        }
      }
    }

    li {
      margin-bottom: 0.5rem;
    }

    .blog-categories {
      border-top: 3px solid red;
      border-bottom: 3px solid red;
      padding-block: 1.5rem;
    }

    .archives {
      padding-block: 1.5rem 5rem;
    }
  }
}
