@use "../abstracts/variables" as *;
@use "../base/typography" as t;

.home-main {
  .hero {
    display: flex;

    > * {
      flex-basis: 50%;
    }

    .hero-left {
      position: relative;

      img {
        width: 100%;
      }
      .hero-info {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        text-align: center;

        & p:nth-child(2) {
          font-size: t.$font-sz-xl;
        }

        button {
          background: transparent;
          border: none;
          background-image: url("/assets/images/button-bg-lg-dark.png");
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
          font-size: 0.85rem;
          padding: 0.5rem;
          width: 95px;
          height: 30px;
          display: grid;
          place-content: center;

          &::after {
            content: "VIEW DETAILS";
            color: $darker-yellow;
          }
        }
      }
    }

    .hero-right {
      background-image: url("/assets/images/bg-pattern.jpg");
      background-size: cover;
      display: grid;
      padding: 3rem;
      place-content: center;

      h1 {
        font-size: t.$font-sz-xxl;
        font-weight: 400;
        letter-spacing: t.$l-s-2;
        max-width: 20ch;
        margin: 0 auto 2rem;
        text-align: center;
        line-height: t.$l-h-md;
      }

      p {
        line-height: t.$l-h-lg;
      }
    }
  }

  .home-sec {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    // overflow: hidden;

    .grid-content > img {
      width: 100%;
      border-image: url("/assets/images/separator-light.png") 10 0/ 0rem 0.4rem 0.4rem
        0.4rem / 0.4rem repeat;
    }

    .grid-content:nth-child(1),
    .grid-content:nth-child(3) {
      background-color: $card-bg-light;
    }

    .grid-content:nth-child(2) {
      background-color: $card-bg-dark;
    }

    .grid-content:nth-child(-n + 3) {
      color: white;

      .grid-content-inner-wrapper {
        padding: 1.5rem;

        h4 {
          color: $light-yellow;
          margin-bottom: 0.5rem;
        }

        p {
          line-height: t.$l-h-md;
        }
      }
    }

    .grid-content:nth-child(n + 4) {
      background: white;
      padding: 1.5rem;

      .home-blog-card {
        color: t.$font-color-grey;
        font-family: t.$font;
      }
    }

    .grid-content:nth-child(4) {
      border-image: url("/assets/images/separator-dark-vertical.png") 0 10 /
        0rem 0.5rem 0rem 0rem / 0.2rem repeat round;
      position: relative;

      p {
        font-family: t.$font;
        letter-spacing: t.$l-s-1;
      }

      p:nth-child(odd) {
        color: t.$font-color-grey;
        font-size: t.$font-sz-xs;
      }

      p:nth-child(even) {
        font-size: t.$font-sz-xl;
        margin-bottom: 2rem;
      }
    }

    .grid-content:nth-child(5),
    .grid-content:nth-child(6) {
      position: relative;
      z-index: -1;
      min-height: 20rem;

      .inner-content-wrapper {
        background-color: $accent-yellow;
        display: flex;
        position: absolute;
        bottom: 3.5rem;

        .left-col {
          padding: 1rem 0rem 1rem 1rem;

          p {
            max-width: 15ch;
            opacity: 0.7;
          }

          p:not(:first-child) {
            font-family: t.$font;
          }

          p:first-child {
            font-size: t.$font-sz-xs;
            margin-bottom: 0.5rem;
          }

          p:last-child {
            margin-top: 3rem;
          }
        }

        img {
          width: 10rem;
        }
      }
    }
  }
}
