*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald.woff") format("woff");
}
@font-face {
  font-family: "QuattrocentoSans-Regular";
  src: url("/assets/fonts/QuattrocentoSans-Regular.woff") format("woff");
}
p {
  font-family: "QuattrocentoSans-Regular", sans-serif;
}

footer {
  background: hsl(43, 96%, 63%);
  width: calc(100vw - 1rem);
  transform: translateX(calc((100vw - 71rem) / 2 * -1));
  padding-inline: calc((100vw - 71rem) / 2);
}
footer .footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
}
footer .footer-top h3 {
  margin-bottom: 1rem;
  font-weight: 800;
}
footer .footer-top .footer-section-1 {
  padding-right: 1.75rem;
}
footer .footer-top .footer-section-1 .footer-img-wrapper {
  margin-bottom: 1.5rem;
}
footer .footer-top .footer-section-1 .footer-img-wrapper img {
  width: 100%;
}
footer .footer-top .footer-section-1 p:not(:last-child) {
  line-height: 1.3;
  margin-bottom: 1.5rem;
}
footer .footer-top .footer-section-1 a {
  text-decoration: underline;
}
footer .footer-top .footer-section-2 {
  padding-inline: 2rem;
  -o-border-image: url("/assets/images/separator-dark-vertical.png") 0 10/0.5rem/0.4rem repeat round;
     border-image: url("/assets/images/separator-dark-vertical.png") 0 10/0.5rem/0.4rem repeat round;
}
footer .footer-top .footer-section-2 .footer-card {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
footer .footer-top .footer-section-2 .footer-card:nth-child(2) > div:first-of-type::after {
  content: "16";
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
footer .footer-top .footer-section-2 .footer-card:nth-child(3) > div:first-of-type::after {
  content: "15";
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
footer .footer-top .footer-section-2 .footer-card:nth-child(4) > div:first-of-type::after {
  content: "14";
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
footer .footer-top .footer-section-2 .footer-card .date {
  width: 80px;
  position: relative;
}
footer .footer-top .footer-section-2 .footer-card .date::before {
  content: "APR";
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
footer .footer-top .footer-section-2 .footer-card .date img {
  width: 100%;
}
footer .footer-top .footer-section-2 .footer-card .footer-card-content h4 {
  margin-bottom: 0.5rem;
}
footer .footer-top .footer-section-2 .footer-card .footer-card-content p {
  font-size: 0.85rem;
  line-height: 1.6;
}
footer .footer-top .footer-section-3 {
  padding-left: 1.5rem;
}
footer .footer-top .footer-section-3 .footer-sec-3-top {
  margin-bottom: 1.75rem;
}
footer .footer-top .footer-section-3 .footer-sec-3-top input {
  padding: 0.5rem 0.3rem;
  width: 100%;
  border: 3px solid hsl(42, 81%, 38%);
  margin-bottom: 0.5rem;
}
footer .footer-top .footer-section-3 .footer-sec-3-top input::-moz-placeholder {
  letter-spacing: 1px;
  font-weight: 600;
}
footer .footer-top .footer-section-3 .footer-sec-3-top input::placeholder {
  letter-spacing: 1px;
  font-weight: 600;
}
footer .footer-top .footer-section-3 .footer-sec-3-top button {
  background-color: transparent;
  border: none;
  background-image: url("/assets/images/button-bg-dark.png");
  width: 90px;
  height: 28px;
  background-size: contain;
  color: white;
  font-weight: 800;
}
footer .footer-top .footer-section-3 .footer-sec-3-bottom {
  padding-top: 1rem;
  -o-border-image: url("/assets/images/separator-dark.png") 10 0/0.4rem 0rem 0rem/0.4rem repeat;
     border-image: url("/assets/images/separator-dark.png") 10 0/0.4rem 0rem 0rem/0.4rem repeat;
}
footer .footer-top .footer-section-3 .footer-sec-3-bottom .footer-social-wrapper {
  display: flex;
  gap: 1.5rem;
}
footer .footer-top .footer-section-3 .footer-sec-3-bottom .footer-social-wrapper > * {
  width: 45px;
}
footer .footer-bottom {
  font-weight: 800;
  color: hsl(42, 81%, 38%);
  display: flex;
  justify-content: space-between;
  -o-border-image: url("/assets/images/separator-dark.png") 10 0/0.4rem 0rem/0.4rem repeat;
     border-image: url("/assets/images/separator-dark.png") 10 0/0.4rem 0rem/0.4rem repeat;
  padding-block: 0.25rem 1.5rem;
  margin-top: 1.5rem;
}
footer .footer-bottom span {
  margin-right: 0.25rem;
}
footer .footer-bottom ul {
  display: flex;
  gap: 1rem;
}

header {
  background: black;
  display: flex;
  position: absolute;
  width: calc(100vw - 1rem);
  left: 0;
  top: 0;
  padding-block: 2rem;
  padding-inline: calc((100vw - 71rem) / 2);
  align-items: center;
  justify-content: space-between;
}
header nav {
  color: white;
}
header nav ul {
  display: flex;
  font-size: 1.125rem;
  gap: 2rem;
}

body {
  background-image: url("/assets/images/bg-body.png");
  background-size: 100%;
  font-family: "Oswald", sans-serif;
  color: hsl(245, 24%, 9%);
}
body main {
  padding-top: 7.75rem;
  max-width: 70rem;
  margin-inline: auto;
}

.about-section {
  background-color: white;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.about-section > * {
  flex: 1;
}
.about-section .about-content h1 {
  font-size: 2.25rem;
  font-weight: 400;
  -o-border-image: url("/assets/images/separator-light.png") 10 0/0rem 0rem 0.4rem/0.4rem repeat;
     border-image: url("/assets/images/separator-light.png") 10 0/0rem 0rem 0.4rem/0.4rem repeat;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.about-section .about-content h4,
.about-section .about-content p {
  opacity: 0.6;
}
.about-section .about-content h4 {
  margin-bottom: 1rem;
}
.about-section .about-content h4:not(:first-child) {
  margin-top: 1.5rem;
}
.about-section .about-content p {
  line-height: 1.6;
}
.about-section .about-content p:nth-of-type(4),
.about-section .about-content p:nth-of-type(5),
.about-section .about-content p:nth-of-type(6) {
  margin-bottom: 2rem;
}
.about-section .about-content p:nth-of-type(7) {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.about-section .about-content u {
  cursor: pointer;
}
.about-section .about-info {
  background-color: hsl(0, 0%, 88%);
  padding: 1rem 0.5rem;
  align-self: start;
}
.about-section .about-info img {
  width: 100%;
  margin-bottom: 2rem;
}
.about-section .about-info .about-info-content {
  text-align: center;
}
.about-section .about-info .about-info-content p {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.about-section .about-info .about-info-content p:nth-child(odd) {
  color: hsl(0, 0%, 48%);
  font-size: 0.85rem;
}
.about-section .about-info .about-info-content p:nth-child(even) {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.gallery-sec {
  background-color: white;
  padding: 1.5rem 2.5rem;
  min-height: 1000px;
}
.gallery-sec > *:not(.pagination-wrapper) {
  -o-border-image: url("/assets/images/separator-light.png") 10 0/0rem 0rem 0.4rem 0rem/0rem repeat;
     border-image: url("/assets/images/separator-light.png") 10 0/0rem 0rem 0.4rem 0rem/0rem repeat;
}
.gallery-sec .sub-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
}
.gallery-sec .sub-header h1 {
  font-size: 2.5rem;
}
.gallery-sec .sub-header ul {
  display: flex;
  align-items: center;
}
.gallery-sec .sub-header ul li {
  padding-left: 1rem;
}
.gallery-sec .sub-header ul li:not(:last-child) {
  border-right: 2px solid black;
  padding-right: 1rem;
}
.gallery-sec .gallery-card {
  display: flex;
  gap: 1.5rem;
  padding-block: 1.5rem;
}
.gallery-sec .gallery-card > * {
  flex: 1;
}
.gallery-sec .gallery-card .content {
  display: grid;
}
.gallery-sec .gallery-card .content h4 {
  line-height: 1;
}
.gallery-sec .gallery-card .content > p:first-of-type {
  line-height: 1.6;
  word-spacing: 7px;
}
.gallery-sec .gallery-card .content .details-wrapper > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.gallery-sec .gallery-card .content > p:last-of-type {
  font-size: 1.5rem;
  color: hsl(42, 81%, 38%);
}
.gallery-sec .pagination-wrapper {
  margin-block-start: 1rem;
  display: flex;
  justify-content: space-between;
}
.gallery-sec .pagination-wrapper > * {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.gallery-sec .pagination-wrapper .page-links-wrapper {
  display: flex;
  gap: 0.25rem;
}
.gallery-sec .pagination-wrapper .page-links-wrapper p {
  background-color: hsl(0, 0%, 88%);
  padding-inline: 0.5rem;
}
.gallery-sec .pagination-wrapper .prev-wrapper p:last-child,
.gallery-sec .pagination-wrapper .next-wrapper p:first-child {
  font-size: 1.25rem;
}
.gallery-sec .pagination-wrapper .prev-wrapper p:first-child,
.gallery-sec .pagination-wrapper .next-wrapper p:last-child {
  font-size: 1.5rem;
}

.home-main .hero {
  display: flex;
}
.home-main .hero > * {
  flex-basis: 50%;
}
.home-main .hero .hero-left {
  position: relative;
}
.home-main .hero .hero-left img {
  width: 100%;
}
.home-main .hero .hero-left .hero-info {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
}
.home-main .hero .hero-left .hero-info p:nth-child(2) {
  font-size: 1.5rem;
}
.home-main .hero .hero-left .hero-info button {
  background: transparent;
  border: none;
  background-image: url("/assets/images/button-bg-lg-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.5rem;
  width: 95px;
  height: 30px;
  display: grid;
  place-content: center;
}
.home-main .hero .hero-left .hero-info button::after {
  content: "VIEW DETAILS";
  color: hsl(42, 81%, 38%);
}
.home-main .hero .hero-right {
  background-image: url("/assets/images/bg-pattern.jpg");
  background-size: cover;
  display: grid;
  padding: 3rem;
  place-content: center;
}
.home-main .hero .hero-right h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  max-width: 20ch;
  margin: 0 auto 2rem;
  text-align: center;
  line-height: 1.3;
}
.home-main .hero .hero-right p {
  line-height: 1.6;
}
.home-main .home-sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.home-main .home-sec .grid-content > img {
  width: 100%;
  -o-border-image: url("/assets/images/separator-light.png") 10 0/0rem 0.4rem 0.4rem 0.4rem/0.4rem repeat;
     border-image: url("/assets/images/separator-light.png") 10 0/0rem 0.4rem 0.4rem 0.4rem/0.4rem repeat;
}
.home-main .home-sec .grid-content:nth-child(1),
.home-main .home-sec .grid-content:nth-child(3) {
  background-color: hsl(17, 19%, 25%);
}
.home-main .home-sec .grid-content:nth-child(2) {
  background-color: hsl(15, 20%, 12%);
}
.home-main .home-sec .grid-content:nth-child(-n+3) {
  color: white;
}
.home-main .home-sec .grid-content:nth-child(-n+3) .grid-content-inner-wrapper {
  padding: 1.5rem;
}
.home-main .home-sec .grid-content:nth-child(-n+3) .grid-content-inner-wrapper h4 {
  color: hsl(45, 100%, 64%);
  margin-bottom: 0.5rem;
}
.home-main .home-sec .grid-content:nth-child(-n+3) .grid-content-inner-wrapper p {
  line-height: 1.3;
}
.home-main .home-sec .grid-content:nth-child(n+4) {
  background: white;
  padding: 1.5rem;
}
.home-main .home-sec .grid-content:nth-child(n+4) .home-blog-card {
  color: hsl(0, 0%, 48%);
  font-family: "Oswald", sans-serif;
}
.home-main .home-sec .grid-content:nth-child(4) {
  -o-border-image: url("/assets/images/separator-dark-vertical.png") 0 10/0rem 0.5rem 0rem 0rem/0.2rem repeat round;
     border-image: url("/assets/images/separator-dark-vertical.png") 0 10/0rem 0.5rem 0rem 0rem/0.2rem repeat round;
  position: relative;
}
.home-main .home-sec .grid-content:nth-child(4) p {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.home-main .home-sec .grid-content:nth-child(4) p:nth-child(odd) {
  color: hsl(0, 0%, 48%);
  font-size: 0.85rem;
}
.home-main .home-sec .grid-content:nth-child(4) p:nth-child(even) {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.home-main .home-sec .grid-content:nth-child(5),
.home-main .home-sec .grid-content:nth-child(6) {
  position: relative;
  z-index: -1;
  min-height: 20rem;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper {
  background-color: hsl(42, 13%, 85%);
  display: flex;
  position: absolute;
  bottom: 3.5rem;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper .left-col,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper .left-col {
  padding: 1rem 0rem 1rem 1rem;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper .left-col p,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper .left-col p {
  max-width: 15ch;
  opacity: 0.7;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper .left-col p:not(:first-child),
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper .left-col p:not(:first-child) {
  font-family: "Oswald", sans-serif;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper .left-col p:first-child,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper .left-col p:first-child {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper .left-col p:last-child,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper .left-col p:last-child {
  margin-top: 3rem;
}
.home-main .home-sec .grid-content:nth-child(5) .inner-content-wrapper img,
.home-main .home-sec .grid-content:nth-child(6) .inner-content-wrapper img {
  width: 10rem;
}/*# sourceMappingURL=main.css.map */